{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qulu Quliyev</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-8X80xbrq1kPejo4TTlH0wJK0jK5f4euXgvYJgOCJ6wX6g/jdknjQ4wWA7/v6jJU6" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-3 ">
                <div class="card card-body shadow border-primary h-100" id='profile-wrapper'>
                    <img id='profile-pic' src="{% static "images/quluquliyev.png" %}" alt="quluquliyev">
                    <hr>
                    <h4>Hi, I'm Qulu Quliyev</h4>
                    <p>I love codeing and solving problems</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body shadow border-primary h-100">
                    <h4>About Me</h4>
                    <hr>
                    <p>
                        As an experienced Python developer, I specialize in designing and developing innovative backend systems, leveraging technologies likeAI and data analysis. I thrive on teamwork, generating and implementing creative ideas to enhance user experience. With acommitment to continuous learning, I stay updated with the latest programming techniques, enabling valuable contributions to thetech industry. Fueled by a passion for innovation, I aim to introduce impactful solutions through Python, advancing technology andbenefiting society.
                    </p>
                    <pre><b class="text-primary">quluquliyev@outlook.com | +994503148577                                       Baku Azerbaijan</b></pre>
                    <hr>
                    <p>
                        HTML, CSS, Javascript, Bootstrap, Python, Django, Flask, Selenium, Sckit, Pandas, Numpy, SQL, Postgresql, Git 
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="card card-body shadow border-primary h-100">
                    <h4>Work Experience</h4>
                    <hr>
                    <h5><b class="text-primary">Software Developer Intern</b></h5>
                    <h5>Innovative Business Product</h5>
                    <p><sub>07/2023 - 11/2023 | Baku, Azerbaijan</sub></p>
                    <p>I optimized queries for improved performance, enhanced data structures for efficiency in SQL and Database Administration. Developed web projects using Django framework. Employed Git and Github for version control and utilized DigitalOcean for project deployment.</p>
                    <br>
                    <h5><b class="text-primary">Software Developer Intern</b></h5>
                    <h5>Lenta Marine</h5>
                    <p><sub>04/2023 - 06/2023 | Istanbul, Turkey</sub></p>
                    <p>Unmanned underwater vehicles and technologies. Reviewing and Modifying Python Source Codes. Data analysis and data collection.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body shadow border-primary h-100">
                    <h4>Education</h4>
                    <hr>
                    <b class="text-primary">Master Of Computer Science</b>
                    <h5>University of Economics and Human Sciences in Warsaw</h5>
                    <p><sub>10/2023 - 07/2025      Warsaw, Poland</sub></p>
                    <p>Hardware, Cybersecurity, Web, Testing, UI & UX, Mathematics</p>
                    <br>
                    <b class="text-primary">Bachelor of Industrial Engineering</b>
                    <h5>Yildiz Technical University</h5>
                    <p><sub>09/2019 - 08/2023       Istanbul, Turke</sub></p>
                    <p>AI, Decision Making, Statistics, Software, Finance, Manufacturing</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="card card-body shadow border-primary h-100">
                    <h4>Projects</h4>
                    <hr>
                    <h5>Gofirar.com (12/2023 - Present)</h3>
                    <p>
                        I have developed a blog site addressing the challenges faced by those traveling abroad. This will eventually transition into a freelance platform
                    </p>
                    <h5>Getupmate.com (03/2022 - 04/2022)</h3>
                    <p>
                        We kicked off a fresh business model offering special local experiences to foreigners, but had to stop because of tough competition. Still, it got first place in the hackathon at the University4Society Bootcamp Program.
                    </p>
                    <h5>Akoritim.com (09/2020 - 11/2022)</h3>
                    <p>
                        I've played guitar since childhood but struggled to find Azerbaijani song chords. When I saw the need, I created my own website by adding the chords of 70 songs. I filled a gap with 30-40 visitors per day (a lot for my small country). However, I closed the project as the interest turned to foreign songs
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body shadow border-primary h-100">
                    <h4>Organizations</h4>
                    <hr>
                    <ul>
                        <li>Pre-Incubation Program (05/2022 - 09/2022)</li>
                        <li>University4Society Bootcamp (02/2022)</li>
                        <li>Hackathon (02/2022) | 1st place</li>
                        <li>Work and Travel - USA (05/2021 - 09/2021)</li>
                        <li>Yildiz Business Club (10/2019 - 02/2020)</li>
                    </ul>
                    <h4>Languages</h4>
                    <hr>
                    <ul>
                        <li>
                            <b class="text-primary">Azerbaijani</b>
                            <p><sub>Native or Bilingual Proficiency</sub></p>
                        </li>
                        <li>
                            <b class="text-primary">Turkish</b>
                            <p><sub>Native or Bilingual Proficiency</sub></p>
                        </li>
                        <li>
                            <b class="text-primary">English</b>
                            <p><sub>Full Professional Proficiency</sub></p>
                        </li>
                        <li>
                            <b class="text-primary">Russian</b>
                            <p><sub>Elementary Proficiency</sub></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
    </div>
</body>
</html>
